//
   Created by Peter on 4/11/17.
extends layout

block portfolio_info
    h1#portfolio_id #{portfolio.portfolio_id}
    ul#stock_list
        each stock, index in portfolio.stock_list
            li(id="#{stock.ticker}") #{stock.ticker}   #{stock.quantity}

block add_stock_form
    form(onsubmit="return false")
    label(for="add_stock") Add Stock (Enter Ticker):
    input#add_stock(type="text" name="add_stock")
    label(for="add_stock_number") Quantity (Enter Number):
    input#add_stock_number(type="text" name="add_stock_number")
    button(type="submit" onclick="return addStock()") Submit

block remove_stock_form
    form(onsubmit="return false")
    label(for="remove_stock") Remove Stock (Enter Ticker):
    input#remove_stock(type="text" name="remove_stock")
    label(for="remove_stock_number") Quantity (Enter Number):
    input#remove_stock_number(type="text" name="remove_stock_number")
    button(type="submit" onclick="return removeStock()") Submit

block lookup_stock_quote_form
    form(onsubmit="return false")
    label(for="stock_quote") Lookup Stock Quote (Enter Ticker):
    input#stock_quote(type="text" name="stock_quote")
    button(type="submit" onclick="return lookupStockQuote()") Submit

block stock_quote_response
    div#stock_name
    div#stock_price

block portfolio_performance
    form(onsubmit="return false")
    label(for="portfolio_performance_days") Enter Number of Days to Get Performance Over:
    input#portfolio_performance_days(type="text" name="portfolio_performance_days")
    button(type="submit" onclick="return getPortfolioPerformance()") Get Portfolio Performance
    div#portfolio_performance

block stock_correlation
    form(onsubmit="return false")
    label(for="stock_correlation_ticker1") Enter Ticker 1:
    input#stock_correlation_ticker1(type="text" name="stock_correlation_ticker1")
    label(for="stock_correlation_ticker2") Enter Ticker 2:
    input#stock_correlation_ticker2(type="text" name="stock_correlation_ticker2")
    label(for="stock_correlation_days") Enter Number of Days for Correlation Calculation:
    input#stock_correlation_days(type="text" name="stock_correlation_days")
    button(type="submit" onclick="return getStockCorrelation()") Get Stock Correlation
    div#stock_correlation
